<div id="sidebar-wrapper">
    <ul class="sidebar">
        <li class="sidebar-main">
            <a (click)="toggleSidebar()">
                Automata
                <span class="menu-icon glyphicon glyphicon-transfer"></span>
            </a>
        </li>
        <li class="sidebar-list" style="cursor: pointer;">
            <a (click)="toggleQuickOption('home'); navigateTo('home');" ngClass="{{isMenuOptionActive('home') ? 'active' : ''}}">
                Dashboard 
                <span class="menu-icon fa fa-home" ngClass="{{isQuickOptionActive('home') ? 'active' : ''}}"></span>
            </a>
        </li>
        <li class="sidebar-list" style="cursor: pointer;">
            <a (click)="toggleQuickOption('projects'); navigateTo('projects');" ngClass="{{isMenuOptionActive('projects') ? 'active' : ''}}">
                Projects 
                <span class="menu-icon fa fa-table" ngClass="{{isQuickOptionActive('projects') ? 'active' : ''}}"></span>
            </a>
        </li>
    </ul>
    <div class="sidebar-footer">
        <div class="col-xs-4">
            <a href="https://github.com/ziyasal/rdash-angular2/blob/master/README.md" target="_blank">
                About
            </a>
        </div>
    </div>
</div>