<div class="screen">
	<div class="signin-screen">
		<div class="app-title" (click)="goToLogIn()" style="cursor: pointer;">
			<h1>Automata</h1>
		</div>
		<br/>
		<div class="signin-form">
			<div class="control-group">
				<label class="login-field-icon fui-user">user</label>
				<input #userName type="text" class="login-field" />
			</div>
			<div class="control-group">
				<label class="login-field-icon fui-lock">password</label>
				<input #password type="password" class="login-field" />
			</div>
			<div class="control-group">
				<label class="login-field-icon">name</label>
				<input #name type="text" class="login-field" />
			</div>
			<div class="control-group">
				<label class="login-field-icon">last name</label>
				<input #lastName type="text" class="login-field" />
			</div>
			<div class="control-group">
				<label class="login-field-icon">secret answer</label>
				<input #secretAnswer type="text" class="login-field" />
			</div>
			<button class="btn btn-primary btn-large btn-block" (click)='signIn()' [disabled]="signInButtonDisabled">sign in</button>
		</div>
		<div class="control-group">
			<label *ngIf="invalidCredentials" class="login-field-icon fui-lock" for="login-pass">The credentials are not valid.</label>
			<label *ngIf="!requiredFieldsEntered" class="login-field-icon fui-lock" for="login-pass">All required fields were not entered.</label>
			<label *ngIf="successfulySignedIn" class="login-field-icon fui-lock">Successfuly signed in!</label>
		</div>
	</div>
</div>