<div class="login">
	<div class="login-screen">
		<div class="app-title" (click)='goToLogIn()'>
			<h1>Automata</h1>
		</div>
		<br/>
		<div class="login-form">
			<div class="control-group">
				<input #userName type="text" class="login-field" value="" placeholder="username" id="login-name">
				<label class="login-field-icon fui-user" for="login-name"></label>
			</div>

			<div class="control-group">
				<input #password type="password" class="login-field" value="" placeholder="password" id="login-pass">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
			</div>

			<div class="control-group">
				<a class="btn btn-primary btn-large btn-block" (click)='logIn()'>logIn</a>
			</div>

			<div class="control-group">
				<a class="btn btn-primary btn-large btn-block" (click)='signIn()'>signIn</a>
			</div>
			
			<div class="control-group">
				<label *ngIf="invalidCredentials" class="login-field-icon fui-lock" for="login-pass">The credentials are not valid.</label>
				<label *ngIf="!requiredFieldsEntered" class="login-field-icon fui-lock" for="login-pass">All required field were not entered.</label>
			</div>
		</div>
	</div>
</div>