<div class="row">

    <div class="col-lg-3 col-md-6 col-xs-12" >
        <widget-button [routerLink]="['ProjectsComponent']">
            <widget-body>
                <div class="widget-icon red pull-left">
                    <i class="fa fa-tasks"></i>
                </div>
                <div class="title">18</div>
                <div class="comment">Projects</div>
            </widget-body>
        </widget-button>
    </div>

    <div class="col-lg-3 col-md-6 col-xs-12">
        <widget-button>
            <widget-body>
                <div class="widget-icon green pull-left">
                    <i class="fa fa-users"></i>
                </div>
                <div class="title">80</div>
                <div class="comment">Users</div>
            </widget-body>
        </widget-button>
    </div>

    <div class="col-lg-3 col-md-6 col-xs-12">
        <widget-button>
            <widget-body>
                <div class="widget-icon orange pull-left">
                    <i class="fa fa-sitemap"></i>
                </div>
                <div class="title">200</div>
                <div class="comment">Pages</div>
            </widget-body>
        </widget-button>
    </div>

    <div class="col-lg-3 col-md-6 col-xs-12">
        <widget-button>
            <widget-body>
                <div class="widget-icon orange pull-left">
                    <i class="fa fa-sitemap"></i>
                </div>
                <div class="title">2000</div>
                <div class="comment">Methods</div>
            </widget-body>
        </widget-button>
    </div>

    <div class="col-lg-3 col-md-6 col-xs-12">
        <widget-button>
            <widget-body>
                <div class="widget-icon blue pull-left">
                    <i class="fa fa-support"></i>
                </div>
                <div class="title">62</div>
                <div class="comment">Tests</div>
            </widget-body>
        </widget-button>
    </div>

    <div class="col-lg-3 col-md-6 col-xs-12">
        <widget-button>
            <widget-body>
                <div class="widget-icon blue pull-left">
                    <i class="fa fa-support"></i>
                </div>
                <div class="title">62</div>
                <div class="comment">Suites</div>
            </widget-body>
        </widget-button>
    </div>

</div>
